

@font-face {
  font-family: 'Mont-Regular';
  src: url('../src//assets/Mont/Mont-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  }

  @font-face {
    font-family: 'Mont-Bold';
    src: url('../src//assets/Mont/Mont-Bold.ttf');
    font-weight: bold;
    font-style: normal;
    }

    @font-face {
      font-family: 'Mont-SemiBold';
      src: url('../src//assets/Mont/Mont-SemiBold.ttf');
      font-weight: bold;
      font-style: normal;
      }

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: none !important;
  box-shadow: none !important;
}

.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: none !important;
  box-shadow: none !important;
}



.ant-input-affix-wrapper:hover {
  border-color: none !important;
}

input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }